@{
    ViewData["Title"] = "Home Page";
}

<img src="~/images/fire-store.png" />
<div class="col-lg-offset-0">
    <p class="text-center">
        No matter how well you plan for your business, the unexpected is bound to happen. And when the unexpected is a fire, you need to right tools to take care of it – and fast. The best way to be prepared is to find the right kind of commercial fire extinguisher to keep your business safe. Gateway Fire Supplies specializes in supplying commercial fire extinguishers for businesses and contractors around the world.

        In the home where there are typically no more than four to six people, it can be much easier to identify fires and evacuate safely. As opposed to homes, commercial fire extinguishers are found in public places, where the risk of human error is greater, where flammable materials are in consistent use, and where injury and death are more likely due to crowds.   This includes schools at all grade levels, office buildings, factories, hospitals, restaurants, and retail stores. Public places present a new set of problems, not just because of the risk of the fire and smoke themselves, but the risk of panic if a fire breaks and people are only aware of one exit. Consequently, it is imperative to keep a fire extinguisher that can neutralize the fire quicker within reach in these places.   Also, it’s illegal to open your doors to the public without one.

        The type of fire extinguisher you need for your commercial establishment depends on the type of fire risk associated with it. Fires are divided into four groups--Classes A, B, C, and K--which contain distinguishing attributes to inform according to their causes. For example, Class A fires are identified by combustible materials like cotton and wood. This applies to places where cloth and wood are handled in close enough proximity to fire, like campgrounds. Class B fires those with accelerants like gasoline, kerosene, or alcohol, making them the group where you’d put cocktail lounges and gas stations. Class C fires are electric, and pertain to places like crowded offices and factories with breaker rooms for their abundance of electrical equipment. Class K fires apply to locations that use controlled flames regularly, like restaurants and auto body shops. Note that body shots could fit into both C and K for their use of electrical equipment and welding torches. You’ll still want to consult with local regulations, but knowing which of these your establishment falls under should help with the initial shopping around.

    </p>
</div>

