@model DeleteUserViewModel

@{
    ViewData["Title"] = "Delete User";
}

<h2>Are you sure you want to delete Seller @Model.UserName</h2>

    <a asp-area="Admin" asp-controller="Users" asp-action="Delete" class="btn btn-danger"> Confirm Delete</a>

    <a asp-area="Admin" class="btn btn-success" asp-controller="Users" asp-action="Index">Cancel</a>


