@model AdminUserListingViewModel

@{
    ViewData["Title"] = "All Users";
}

<table class="table table-bordered">
    <thead class="active">
        <tr>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                Add/Remove from Role
            </th>
        </tr>
    </thead>
    <tbody class="alert-info">
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    @user.UserName
                </td>
                <td>
                    @user.Email
                </td>
                <td>
                    <div class="row table-bordered">
                        <form method="post" asp-area="Admin" asp-controller="Users" asp-action="AddToRole">
                            <input type="hidden" name="UserId" value="@user.Id" />
                            <div class="col-md-3">
                                <input type="submit" value="Add to Role" class="btn btn-primary" />
                            </div>
                            <a method="post" asp-area="Admin" asp-controller="Users" asp-action="RemoveFromRole">
                                <input type="hidden" name="UserId" value="@user.Id" />
                                <div class="col-md-3">
                                    <input type="submit" value="Remove From Role" class="btn btn-primary" />
                                </div>
                            </a>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

